# Python virtual env
venv/
# Byte‑code caches
__pycache__/
*.py[cod]
# OS files
.DS_Store
Thumbs.db

# Large data you don’t need in the repo (optional)
ml/dataset/
# If you have a large model you want to keep locally only, comment the line below.
# ml/dental_classifier.h5

# Other IDE/editor files
*.sublime-workspace
*.vscode/
node_modules/
node_modules/

dist/
app-backend/
